textarea {
    width: 402px;
    font-size: 18px;
    padding: 15px 20px;
    margin: 15px 0px 5px;
    resize: none;
}


form table .btn {
    padding: 0px;
    border: none;
}

form table {
    margin-top: 15px;
}

.duration {
    width: 444px;
    margin: 15px 0px;
    color: #0013BC;
}
input[type=file]::file-selector-button {
    border: 1px solid rgb(0, 0, 0);
    margin-right: 20px;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    transition: background 0s ease-in-out;
}
  
input[type=file]::file-selector-button:hover {
    background: #ffffff;
    color:black;
    border: 1px solid;
}