.map-container {
    height: 92vh;
    width: 99vw;
}

.place {
    padding: 25px;
    border: 3px solid blue;
    box-shadow:  0 0 5px 5px lightblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 12vw;
    height: 21vh;
    gap: 10px;
    margin: 15px;
}

.place h3 {
    margin-bottom: 0px;
    font-size: 18px;
}

.map {
    padding-bottom: 4vh;
}

@media (max-width: 400px) {

    .map-container {
        width: 100vw;
        height: 93vh;
    }
}