.code .field {
    margin: 0px;
}

.code .warn {
    font-weight: normal;
    font-size: medium;
}

@media (max-width: 400px) {
    .code {
        flex-direction: column;
    }

    .user p {
        font-size: 20px;
    }

    .user .data {
        flex-direction: row;
    }
}